.heading {
    background-color: rgb(6, 6, 68);
    color: white;
    text-align: center;
    padding: 10px;
  }

  .container {
    margin-top: 20px;
  }

 .row {
   margin-left: 20px;
   justify-content: space-around;
 }

 #forecast {
   display: flex;
 }

 .forecastCard {
   width: 200px;
 }

 .forecastCard img {
   width: 100px;
 }

.hide {
   display: none;
 }

 h2 {
   display: none;
 }

.favorable {
  background-color: rgb(40, 224, 162);
}

.moderate {
  background-color: rgb(197, 25, 203);

}

.severe {
  background-color: rgb(245, 7, 7);
}

