body {
  background: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.heading {
    background-color: #25396c;
    color: white;
    text-align: center;
    padding: 10px;
  }

  .container {
    margin-top: 20px;
  }

 .row {
   margin-left: 20px;
   justify-content: space-around;
 }

 #forecast {
   display: flex;
 }

 .forecastCard {
   width: 200px;
 }

 .forecastCard img {
   width: 100px;
   background-color: #a7ebf4;
   border-radius: 5px;
 }


.hide {
   display: none;
 }

 h2 {
   display: none;
 }

.favorable {
  background-color: rgb(40, 224, 162);
}

.moderate {
  background-color: rgb(197, 25, 203);

}

.severe {
  background-color: rgb(245, 7, 7);
}

.btn-primary {
  background-color: #557988;
  color: black;
  font-weight: bold;
  border-radius: 3px;
}

.btn-primary:hover {
  background: url("https://static6.depositphotos.com/1067431/551/i/600/depositphotos_5510312-stock-photo-warm-sun.jpg") no-repeat;
}

.card {
  background: none;
  border: none;
  color: white;
}
